:root {
    --font-family: Arial;
    --text-align: left;
    --text-position: 0%;
    --text-margin: 5%;
    --font-wheight: bold;
    --color: white;
}

[data-theme="1"]{
    --font-family: Arial;
    --text-align: left;
    --text-position: 0%;
    --text-margin: 5%;
    --font-wheight: bold;
    --color: white;
}

[data-theme="2"] {
    --font-family: Times;
    --text-align: center;
    --text-position: 55%;
    --text-margin: 11%;
    --font-wheight: bold;
    --color: white;
}

[data-theme="3"] {
    --font-family: Helvetica;
    --text-align: center;
    --text-position: 0%;
    --text-margin: 11%;
    --font-wheight: bold;
    --color: white;
}

[data-theme="4"] {
    --font-family: Times;
    --text-align: center;
    --text-position: 60%;
    --text-margin: 11%;
    --font-wheight: bold;
    --color: white;
}

[data-theme="5"] {
    --font-family: Times;
    --text-align: center;
    --text-position: 60%;
    --text-margin: 11%;
    --font-wheight: bold;
    --color: black;
}

body, html {
    background-color: rgb(20, 20, 20);
}

.open {
    position: absolute;
    left: 5px;
    top: 10%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: none;
    width: 50px;
    height: 50px;
    font-family: 'Trebuchet MS';
    font-size: 20pt;
    color: grey;
}

.open:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}

.title {
    position: absolute;
    left: 75px;
    top: 10%;
    border:none;
    outline: none;
    border-bottom: solid gray 1px;
    background: none;
    width: 300px;
    height: 30px;
    font-family: 'Trebuchet MS';
    font-size: 14pt;
    color: white;
}

::placeholder {
    opacity: 0.3;
}

.container #background {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0%;
}

.box1 {
    max-width: 78%;
    margin: auto;
    height: auto;
    background: transparent;
    position: absolute;
    text-align: var(--text-align);
    left: var(--text-margin);
    top: var(--text-position);
}

.title-text {
    background: transparent;
    display: inline-block;
    font-family: var(--font-family);
    color: var(--color);
    font-size: 26pt;
    font-weight: var(--font-wheight);
}

.btn {
    position: absolute;
    left: 5px;
    top: 25%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: none;
    width: 50px;
    height: 50px;
    font-family: 'Trebuchet MS';
    font-size: 20pt;
    color: grey;
}

.btn:hover{
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

.source-btn {
    position: absolute;
    left: 125px;
    top: 15%;
    border: none;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(32, 32, 32);
    width: 250px;
    height: 50px;
    font-family: 'Trebuchet MS';
    font-size: 18pt;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.source-btn:hover {
    cursor: pointer;
    color: grey;
}

.custom {
    position: absolute;
    left: 75px;
    top: 15%;
    border: none;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgb(32, 32, 32);
    width: 50px;
    height: 50px;
    font-family: 'Trebuchet MS';
    font-size: 18pt;
    color: white;
}

.image {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.claim {
    margin: 0;
    color: rgb(56, 56, 56);
    font-family: Arial;
    position: absolute;
    right: 2px;
    bottom: 2px;
}

.window {
    height: 7in;
    width: 7in;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    border: 1px solid grey;
    background-color: transparent;
}

.invert {
    position: absolute;
    left: 5px;
    top: 15%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: none;
    width: 50px;
    height: 50px;
    font-family: 'Trebuchet MS';
    font-size: 20pt;
    color: grey;
}

.invert:hover {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

.copy {
    position: absolute;
    left: 5px;
    top: 20%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: none;
    width: 50px;
    height: 50px;
    font-family: 'Trebuchet MS';
    font-size: 20pt;
    color: grey;
}

.copy:hover {
    background-color: rgb(32, 32, 32);
    cursor: pointer;
}

.reload {
    position: absolute;
    left: 5px;
    top: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: none;
    width: 50px;
    height: 50px;
    font-family: 'Trebuchet MS';
    font-size: 18pt;
    color: white;
}

.reload:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}

.toolbox {
    width: 60px;
    background-color: rgb(20, 20, 20);
    border-right: 1px solid rgb(32, 32, 32);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.re-icon {
    width: 100%;
}