:root {
  --font-family: Arial;
  --text-align: left;
  --text-position: 0%;
  --text-margin: 5%;
  --font-wheight: bold;
  --color: white;
}

[data-theme="1"]{
  --font-family: Arial;
  --text-align: left;
  --text-position: 0%;
  --text-margin: 5%;
  --font-wheight: bold;
  --color: white;
}

[data-theme="2"] {
  --font-family: Times;
  --text-align: center;
  --text-position: 55%;
  --text-margin: 11%;
  --font-wheight: bold;
  --color: white;
}

[data-theme="3"] {
  --font-family: Helvetica;
  --text-align: center;
  --text-position: 60%;
  --text-margin: 11%;
  --font-wheight: bold;
  --color: white;
}

[data-theme="4"] {
  --font-family: Times;
  --text-align: center;
  --text-position: 65%;
  --text-margin: 11%;
  --font-wheight: 300;
  --color: white;
}

[data-theme="5"] {
  --font-family: Times;
  --text-align: center;
  --text-position: 0%;
  --text-margin: 11%;
  --font-wheight: 500;
  --color: #dacd7d;
}

[data-theme="6"] {
  --font-family: Times;
  --text-align: center;
  --text-position: 0%;
  --text-margin: 11%;
  --font-wheight: 500;
  --color: white;
}

[data-theme="7"] {
  --font-family: Impact;
  --text-align: center;
  --text-position: 55%;
  --text-margin: 11%;
  --font-wheight: 500;
  --color: black;
}

@font-face {
  font-family: SegoeIcons;
  src:url("Assets/Segoe Fluent Icons.ttf");
}

body, html {
  background-color: rgb(20, 20, 20);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: transparent;
  -webkit-app-region: drag;
  z-index: -1;
}

.open {
  position: absolute;
  left: 5px;
  top: 10%;
  border: none;
  outline: none;
  border-radius: 5px;
  background: none;
  width: 50px;
  height: 50px;
  font-family: 'Trebuchet MS';
  font-size: 20pt;
  color: grey;
}

.open:hover {
  cursor: pointer;
  background-color: rgb(20, 20, 20);
}

.title {
  position: absolute;
  left: 75px;
  top: 10%;
  border:none;
  outline: none;
  border-radius: 3px;
  background: rgb(12, 12, 12);
  width: 550px;
  height: 250px;
  font-family: 'Trebuchet MS';
  font-size: 14pt;
  color: white;
  resize: none;
}

::placeholder {
  opacity: 0.3;
}

.container #background {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0%;
}

.box1 {
  max-width: 78%;
  margin: auto;
  height: auto;
  background: transparent;
  position: absolute;
  text-align: var(--text-align);
  left: var(--text-margin);
  top: var(--text-position);
}

.title-text {
  background: transparent;
  display: inline-block;
  font-family: var(--font-family);
  color: var(--color);
  font-size: 28pt;
  font-weight: var(--font-wheight);
}

.tool-btn {
  position: relative;
  left: 5px;
  top: 70px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: none;
  width: 50px;
  height: 50px;
  font-family: 'Trebuchet MS';
  font-size: 20pt;
  color: grey;
  margin-bottom: 10px;
}

.tool-btn:hover{
  background-color: rgb(20, 20, 20);
  cursor: pointer;
}

.source-btn {
  position: absolute;
  left: 125px;
  top: 40%;
  border: none;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgb(12, 12, 12);
  width: 350px;
  height: 50px;
  font-family: 'Trebuchet MS';
  font-size: 18pt;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.source-btn:hover {
  cursor: pointer;
  color: grey;
}

.custom {
  position: absolute;
  left: 75px;
  top: 40%;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: rgb(12, 12, 12);
  width: 50px;
  height: 50px;
  font-family: 'Trebuchet MS';
  font-size: 18pt;
  color: white;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.claim {
  margin: 0;
  color: rgb(56, 56, 56);
  font-family: Arial;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.window {
  height: 800px;
  width: 800px;
  position: fixed;
  left: 65%;
  transform: translate(-50%, -50%);
  top: 50%;
  border: none;
  background-color: rgb(12, 12, 12);
  overflow: auto;
  box-shadow: 10px 10px 20px #0e0e0e;
  overflow: hidden;
}

.reload {
  position: absolute;
  left: 5px;
  top: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: none;
  width: 50px;
  height: 50px;
  font-family: 'Trebuchet MS';
  font-size: 18pt;
  color: white;
}

.reload:hover {
  cursor: pointer;
  background-color: rgb(20, 20, 20);
}

.toolbox {
  width: 60px;
  background-color: rgb(12, 12, 12);
  border-right: 1px solid rgb(32, 32, 32);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
}

.re-icon {
  width: 100%;
}